body {
    font-family: 'Trebuchet MS';
    background-color: bisque;
}

h1  {
    font-family: sans-serif;
}

h3 {
    font-family: 'Verdana';
    color: darkblue;
}

img {
    height: 300px;
    width: auto;
}